* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.heading {
  font-size: 10px;
  padding: 10px 20px;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
  h1 {
    font-size: 18px;
  }
}
.scores {
  display: flex;
  gap: 20px;
  align-items: center;
}

.btn {
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  color: #fff;
  border-radius: 10px;
  font-size: 10px;
  padding: 5px;
}

.btn-new {
  background-color: #17a2b8;
}

.btn-new:hover {
  background-color: #1592a6;
}

.footer {
  font-size: 12px;
  padding: 5px;
  font-family: sans-serif;
  a {
    font-family: inherit;
  }
}
